<div id="app">
  <ul>
    <lip v-for='article in articles' :key='article.id'>
      <div class='card'>
        <h2>{{ article.title }}</h2>
        <pre class="font-size">{{ article.updated_at }}  {{ article.user.name }}</pre>
        <p>{{ article.body }}</p>
      </div>
      <div class="right-button">
        <%# TODO: 記事詳細画面は後日実装  %>
        <a :href="'/articles/' + article.id" class="btn">記事詳細</a>
      </div>
    </lip>
  </ul>
</div>

<script>
  new Vue({
    el: '#app',
    data: function(){
      return {
        articles: []
      }
    },
    mounted: async function() {
      try {
        const res = await axios.get('/api/v1/articles')
        this.articles = res.data
      } catch (error) {

      }
    },
  })
</script>

<style>
  .card{
    color: white;
    background-color: gray;
    margin: 10px;
    padding: 50px;
  }
  .right-button{
    text-align: right;
  }
  .btn{
    display: inline-block;
    margin: 0px 10px 30px 0px;
    padding: 10px 100px;
    background-color: green;
    color: white;
    border-radius: 8px;
    text-decoration: none;
  }
</style>
