<div id="article-index">
  <% if user_signed_in? %>
    <header-component :is-signed-in-user="true"></header-component>
  <% else %>
    <header-component></header-component>
  <% end %>
  <p class="notice success-field"><%= notice %></p>
  <p class="alert error-field"><%= alert %></p>
  <article-index-component></article-index-component>
</div>

<script>
  new Vue({}).$mount('#article-index')
</script>
