<div id="app">
  <ul class="list-style">
    <li v-for='article in articles' :key='article.id'>
      <div class="card">
        <h2>{{ article.title }}</h2>
        <p>{{ article.updated_at }}&emsp;{{ article.user_name }}</p>
        <p>{{ article.body }}</p>
      </div>
      <div class="right-button">
        <%# TODO: 記事詳細画面は後日実装  %>
        <a :href="'/articles/' + article.id" class="btn">記事詳細</a>
      </div>
    </li>
  </ul>
</div>

<script>
  new Vue({
    el: '#app',
    data: function(){
      return {
        articles: []
      }
    },
    mounted: async function() {
      try {
        const res = await axios.get('/api/v1/articles')
        this.articles = res.data
      } catch (error) {

      }
    },
  })
</script>

<style>
  .list-style{
    list-style: none;
  }
  .card{
    color: white;
    background-color: gray;
    margin: 10px 40px 10px 40px;
    padding: 50px;
    list-style: none;
  }
  .right-button{
    text-align: right;
  }
  .btn{
    display: inline-block;
    margin: 0px 40px 30px 0px;
    padding: 10px 100px;
    background-color: green;
    color: white;
    border-radius: 8px;
    text-decoration: none;
  }
</style>
