<div id="article-new">
  <form @submit.prevent="createArticle" class="input-center"><br>
    <div v-if="errors.length != 0">
      <ul v-for="e in errors" :key="e">
        <li class="error-field">{{ e }}</li>
      </ul>
    </div>
    <div class="input-field">
      <input v-model='article.title' type="text" placeholder="記事タイトル">
      <textarea v-model='article.body' rows="20" placeholder="記事本文"></textarea>
    </div>
    <div class="button-area">
      <button class='left btn'>キャンセル</button>
      <button type="submit" class="right btn">投稿</button>
    </div>
  </form>
</div>

<script>
  // axiosのリクエストにCSRF対策を付与
  const csrf_token = document.getElementsByName('csrf-token')[0].getAttribute('content')
  axios.defaults.headers.common['X-CSRF-Token'] = csrf_token

  new Vue({
    el: '#article-new',
    data: function(){
      return {
        article: {
          user_id: <%= User.first.id %>,
          title: "",
          body: "",
        },
        errors: "",
      }
    },
    methods: {
      createArticle: async function() {
        try {
          const res = await axios.post('/api/v1/articles', this.article)
          location.href = `/articles/${res.data.id}`
        } catch (error) {
          this.errors = error.response.data
        }
      }
    }
  })
</script>

<style scoped>
  .right{
    float: right;
    margin-right: 40px; 
  }
  .left{
    float: left;
    margin-left: 40px;
  }
  .btn{
    width: 150px;
    height: 50px;
    background-color: green;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;
  }
  .input-field{
    text-align: center;
  }
  input, textarea{
    width: 93%; 
    margin-bottom: 20px;
  }
  .error-field{
    color: red;
  }
</style>
