<div id="article-new">
  <% if user_signed_in? %>
    <header-component :is-signed-in-user="true"></header-component>
  <% else %>
    <header-component></header-component>
  <% end %>
  <p class="notice success-field"><%= notice %></p>
  <p class="alert error-field"><%= alert %></p>
  <article-form-component :permission-create="true"></article-form-component>
</div>

<script>
  new Vue({}).$mount('#article-new')
</script>
