<div id="article-show">
  <article-show-component v-if="isActiveShow" :id="id"  @change-page="changePage"></article-show-component>
  <article-form-component v-if="isActiveEdit"
    :id="id"
    :permission-update="true"
    @change-page="changePage"
  ></article-form-component>
</div>

<script>
  new Vue({
    el: '#article-show',
    data: function(){
      return {
        id: <%= params[:id] %>,
        isActiveShow: true,
        isActiveEdit: false,
      }
    },
    methods: {
      changePage: function() {
        this.isActiveShow = !this.isActiveShow
        this.isActiveEdit = !this.isActiveEdit
      },
    }
  })
</script>
