<div id="article-show">
  <article-show-component v-if="isActive" :id="id"  @change-page="changePage"></article-show-component>
  <article-form-component v-else
    :id="id"
    :update-submit="true"
    @change-page="changePage"
  ></article-form-component>
</div>

<script>
  new Vue({
    el: '#article-show',
    data: function(){
      return {
        id: <%= params[:id] %>,
        isActive: true,
      }
    },
    methods: {
      changePage: function() {
        this.isActive = !this.isActive
      },
    }
  })
</script>
