/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// common 
  .none-list-style{
    list-style: none;
    padding-inline-start: 0;
  }
  .right{
    float: right;
    margin-right: 40px; 
  }
  .left{
    float: left;
    margin-left: 40px;
  }
  .btn{
    width: 150px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;
    height: 50px;

    &.comment {
      width: 70px;
      height: 40px;
      background-color: white;
      color: green;
      
      &.form {
        height: 70px;
        color: blue;
      }
    }
    &.article {
      background-color: green;
      color: white;
    }
    &.is-more {
      background-color: yellow;
      color: pink;
      margin: 0 0 20px 0;
    }
  }
  .error-field{
    color: red;
  }

  //article
  .article-form-field{
    text-align: center;
    
    input, textarea{
      width: 93%; 
      margin-bottom: 20px;
    }
  }
  .card{
    color: white;
    background-color: gray;
    margin: 10px 40px;
    padding: 50px;
    clear: both;
  }

  //comment
  .comments{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 10px;

    .form-commenter-name{
      flex-basis: 15%;
      padding-right: 10px;
    }
    .form-body{
      flex-basis: 80%;
      margin-right: 10px;
    }
    .card{
      flex-basis: 95%;
      color: gray;
      background-color: white;
      padding: 10px;
      margin: 0 10px 0 0;
      display: flex;
      justify-content: space-around;

      .commenter-name{
        flex-basis: 20%;
        font-size: 15px;
      }
      .body{
        flex-basis: 80%;
        font-size: 12px;
      }
    }
  }
