/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// common 
  a{
    text-decoration: none;
  }
  .none-list-style{
    list-style: none;
    padding-inline-start: 0;
  }
  .right{
    float: right;
    margin-right: 40px; 
  }
  .left{
    float: left;
    margin-left: 40px;
  }
  .btn{
    width: 150px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;
    height: 50px;

    &.comment {
      width: 70px;
      height: 40px;
      background-color: white;
      color: green;
      
      &.form {
        height: 70px;
        color: blue;
      }
    }
    &.article {
      background-color: green;
      color: white;
    }
  }
  .success-field{
    color: green;
  }
  .error-field{
    color: red;
  }

  //header
  .logo{
    letter-spacing: 0.3em;
    float: left;
    line-height: 30px;
    margin-left: 20px;
  }
  header{
    width: 100%;
    height: 70px;
    margin: 0 auto;
  }
  .articles-link{
    text-decoration: none;
    color: black;
    padding: 0 10px;
  }
  .nav-list{
    line-height: 80px;
  }
  .nav-list-item{
    list-style: none;
    display: inline-block;
    float: right;
  }
  .weather-news{
    text-decoration: none;
    display: inline-block;

    select{
      width: 73px;
    }
  }

  //article
  .article-form-field{
    text-align: center;
    
    input, textarea{
      width: 93%; 
      margin-bottom: 20px;
    }
  }
  .card{
    color: white;
    background-color: gray;
    margin: 10px 40px;
    padding: 50px;
    clear: both;
  }

  //comment
  .comments{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 10px;

    .form-commenter-name{
      flex-basis: 15%;
      padding-right: 10px;
    }
    .form-body{
      flex-basis: 80%;
      margin-right: 10px;
    }
  }
