/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// button
  .btn{
    width: 150px;
    height: 50px;
    background-color: green;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;
  }
  .right{
    float: right;
    margin-right: 40px; 
  }
  .left{
    float: left;
    margin-left: 40px;
  }

  //input
  .input-field{
    text-align: center;
    
    input, textarea{
      width: 93%; 
      margin-bottom: 20px;
    }
  }

  //error
  .error-field{
    color: red;
  }

  // other
  .none-list-style{
    list-style: none;
  }
  .card{
    color: white;
    background-color: gray;
    margin: 10px 40px;
    padding: 50px;
    list-style: none;
    clear: both;
  }
