<div id="header">
  <v-card
      color="grey lighten-4"
      flat
      height="100px"
      tile
    >
      <v-toolbar dense>
        <v-toolbar-title>ぬろぐ</v-toolbar-title>
      </v-toolbar>
    </v-card>
</div>

<script>
  new Vue({
    el: '#header',
  })
</script>
